- content_for :title do
  Xing Zhou's Website

-content_for :header do
  =yield_content :title

-content_for :footer do
  %p<
    Server time:
    =Time.now.strftime(' %Y %B %e %H:%M:%S')

%p Running on Sinatra!
