-# Javascripts
- content_for :js do
  %script{type: "text/javascript",
          src: "#{settings.root}/javascripts/resume.js"}

-# Stylesheets
- content_for :css do
  %link{rel: "stylesheet", 
        href: "#{settings.root}/stylesheets/resume.css"}

- content_for :title do
  Resume | Xing Zhou

- content_for :header do
  %p Todo List

- content_for :footer do
  %p<
    Updated:
    August 2012

%article=markdown(:todos)
